<div class="header">
	<ul>
		<li class="column" id="color1"><%= link_to "Welcome", 'pages#welcome' %></li>
		<li class="column" id="color2"><%= link_to "Portfolio", '#' %></li>
		<li class="column" id="color3"><%= link_to "About", '#' %></li>
		<li class="column" id="color4"><%= link_to "Blog", '#' %></li>
		<li class="column" id="color5"><%= link_to "Contact", '#' %></li>
	</ul>
</div>
<div class="main"><p>Hello. My name is Natali and I have creative ideas and build websites </p>
</div>
<div class="footer">
	<ul>
		<li class="icon">g+</li>
		<li class="icon">fb</li>
		<li class="icon">in</li>
	</ul>
</div>