<div class="contact">

  <div class="contacttext">
    <p>Contact me:</p>
    <p>email: rinykia@gmail.com</p>
    <p>skype: rinykia</p>
    <p>or leave me message:</p>
  
      <div class="partial1">
      <%= form_for Contact.new do |f| %>  
      <div class="field"> 
        <% f.label :contact %><br> 
        <%= f.text_area :content %> 
      </div> 
      <div class="actions"> 
        <%= f.submit "Create" %> 
      </div> 
  <% end %>
  </div>
  
        <% @contacts.each do |c| %>
        
          
              
              <div class="content"><%= c.content %></div>
                <div class="time"><%= c.created_at %></div>
  
        <% end %>
                    
          <div class="paginate"><%= paginate @contacts %></div>
          
            
          
   </div>
</div>
