<div class="container">
  <%= link_to 'New Post', new_post_path, :class => "btn btn-primary btn-lg " %><br/>
  <br/>
  <% @posts.each do |post| %>
    <div class="row">
      <img class="col-md-6 img-responsive" src="<%= post.avatar %>" style="width:130px; height:100px;">
      <div class="col-md-6">
        <h2><%= link_to post.title, post %></h2>
        <div><%= link_to truncate(strip_tags(post.body), length: 130), post %></div>
      </div>
    </div>
    <% if current_user == post.user %>
      <%= link_to 'Edit', edit_post_path(post) %> |
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>   
    <hr>
  <% end %>  
  <%= paginate @posts %>
</div>


 