<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="http://unslider.com/unslider.min.js"></script>
</head>
<body>
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
          <span class="sr-only">open navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      </div>
      <div class="collapse navbar-collapse" id="responsive-menu">
        <ul class="nav navbar-nav">
          <li><img class="navbar-brand" src="/assets/halloween.png" width="50px"></li>
          <li><%= link_to "Welcome", root_path %></li>
          <li><%= link_to "Applications", projects_path %></li>
          <li><%= link_to "About me", aboutme_path %></li>
          <li><%= link_to "Blog", posts_path %></li>
          <li><%= link_to "Contact me", messages_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
      <% if @error && @error.length > 0 then %>
      <div class="alert alert-danger"><%= @error %></div>
      <% end %>
      <!--log in  and log out -->
      <% if user_signed_in? %>
         
          <li>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
          <li>
          <%= link_to 'Sign in', new_user_session_path %> 
        <% end %>
        </li>       
        </ul> 
      </div>
    </div>
  </div>

   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
    
      
  <%= yield %>
  <div class="container">
    <!-- HotLog -->
    <span id="hotlog_counter"></span>
    <span id="hotlog_dyn"></span>
    <script type="text/javascript"> var hot_s = document.createElement('script');
      hot_s.type = 'text/javascript'; hot_s.async = true;
      hot_s.src = 'http://js.hotlog.ru/dcounter/2505173.js';
      hot_d = document.getElementById('hotlog_dyn');
      hot_d.appendChild(hot_s);
    </script>
    <noscript>
      <a href="http://click.hotlog.ru/?2505173" target="_blank">
      <img src="http://hit34.hotlog.ru/cgi-bin/hotlog/count?s=2505173&im=556" border="0" title="HotLog" alt="HotLog"></a>
    </noscript>
    <!-- /HotLog -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
</body>
</html>
