<!DOCTYPE html>
<html>
<head>
  <title>Porfolio1</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
	<ul class="menu">
		<li class="column" id="color1"><%= link_to "Welcome", '/pages' %></li>
		<li class="column" id="color2"><%= link_to "Portfolio", '/portfolio' %></li>
		<li class="column" id="color3"><%= link_to "About", '/about' %></li>
		<li class="column" id="color4"><%= link_to "Blog", '/posts' %></li>
		<li class="column" id="color5"><%= link_to "Contact", '/contacts' %></li>
	</ul>
</div>

<%= yield %>
<div class="footer">
	<ul class="ikonki">
		<a href="#"><li  class="icon icon1"></li></a>
		<a href="#"><li  class="icon icon2"></li></a>
		<a href="#"><li  class="icon icon3"></li></a>
	</ul>
</div>
</body>
</html>
